Repository NguyenCuong1989/DAIOF-Framework, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, tests, examples, github, ci-cd, dependencies, content, research, community, planning

.github/labeler.yml:

# Auto-labeling configuration for pull requests
# Based on changed files

# Core framework changes
'core':
  - digital_ai_organism_framework.py

# Documentation
'documentation':
  - '**/*.md'
  - 'docs/**/*'
  - 'README.md'
  - 'CONTRIBUTING.md'

# Tests
'tests':
  - 'tests/**/*'
  - '**/test_*.py'
  - '**/*_test.py'

# Examples & Demos
'examples':
  - 'demo.py'
  - 'examples/**/*'

# GitHub specific
'github':
  - '.github/**/*'

# CI/CD
'ci-cd':
  - '.github/workflows/**/*'

# Dependencies
'dependencies':
  - 'requirements.txt'
  - 'setup.py'
  - 'pyproject.toml'

# Blog & Distribution
'content':
  - 'blog/**/*'
  - 'distribution/**/*'
  - 'video/**/*'

# Research
'research':
  - 'research/**/*'

# Community
'community':
  - 'community/**/*'
  - 'CODE_OF_CONDUCT.md'
  - '.github/SUPPORT.md'

# Planning
'planning':
  - 'planning/**/*'

fix: pin actions/checkout to full SHA
  .github/workflows/apo-health-check.yml
Labels: github, ci-cd

fix: pin actions/checkout to full SHA
  .github/workflows/apo-health-check.yml
Labels: github, ci-cd

fix: correct secrets syntax
  .github/workflows/apo-health-check.yml
Labels: github, ci-cd

fix: correct secrets syntax
  .github/workflows/apo-health-check.yml
Labels: github, ci-cd

Add functional SSE gateway with keep-alive streaming
  apps/sse-gateway/README.md
  apps/sse-gateway/server.mjs
  package.json
Labels: documentation

Add functional SSE gateway with keep-alive streaming
  apps/sse-gateway/README.md
  apps/sse-gateway/server.mjs
  package.json
Labels: documentation

Refactor SSE gateway to use Node HTTP without Express
  apps/sse-gateway/README.md
  apps/sse-gateway/server.mjs
  package.json
Labels: documentation

Refactor SSE gateway to use Node HTTP without Express
  apps/sse-gateway/README.md
  apps/sse-gateway/server.mjs
  package.json
Labels: documentation

Initial commit
  README.md
Labels: documentation

Initial commit
  README.md
Labels: documentation

Initial commit
  README.md
Labels: documentation

Initial commit
  README.md
Labels: documentation

Initial commit
  README.md
Labels: documentation

Initial commit
  README.md
Labels: documentation

Initial commit
  README.md
Labels: documentation

Initial commit
  README.md
Labels: documentation

Initial commit
  README.md
Labels: documentation

Add connector standardization baseline and validator script
  connectors/asana.yaml
  connectors/conductor.yaml
  connectors/github.yaml
  connectors/jira.yaml
  connectors/linear.yaml
  connectors/llm_engine.yaml
  connectors/mail.yaml
  connectors/mcp_hub.yaml
  connectors/runtime_observer.yaml
  connectors/tech_debt_auditor.yaml
  connectors/telegram.yaml
  connectors/web_agent.yaml
  docs/index.md
  docs/operations/CONNECTOR_STANDARDIZATION_BASELINE.md
  docs/operations/ECOSYSTEM_NODE_MAP.yaml
  docs/operations/ECOSYSTEM_RELATIONSHIP_REPORT.md
  docs/operations/REALTIME_COOPERATIVE_EXECUTION_SPEC.md
  docs/operations/SEARCH_SPACE_COLLAPSE_EXECUTION_MAP.md
  docs/operations/realtime_phase_checklist.yaml
  docs/operations/search_space_collapse_policy.yaml
  scripts/validate_connector_standardization.py
Labels: documentation

Add connector self-healing governor matrix
  docs/operations/CONNECTOR_HEALTH_MATRIX.yaml
  scripts/connector_self_healing_governor.py
Labels: documentation

Map SSE gateway incidents to deployment diagnostics
  apps/sse-gateway/README.md
  apps/sse-gateway/auth.mjs
  apps/sse-gateway/auth.test.mjs
  apps/sse-gateway/diagnostic-contract.schema.json
  apps/sse-gateway/diagnostics.mjs
  apps/sse-gateway/diagnostics.test.mjs
  apps/sse-gateway/server.mjs
  apps/sse-gateway/server.test.mjs
  package.json
Labels: documentation

Establishes core AI identity and updates codebase structure and IP audit
  .ai-identity-link
  .consciousness/IDENTITY_CORE.md
  .well-known/apo-identity.json
  APO_IDENTITY_NOTICE.md
  COMPLETE_IP_AUDIT_ALL_FILES.json
  eim_config.toml
  test_autonomous_todo.db
  test_convergence.py
Labels: documentation, tests

Establishes core AI identity and updates codebase structure and IP audit
  .ai-identity-link
  .consciousness/IDENTITY_CORE.md
  .well-known/apo-identity.json
  APO_IDENTITY_NOTICE.md
  COMPLETE_IP_AUDIT_ALL_FILES.json
  eim_config.toml
  test_autonomous_todo.db
  test_convergence.py
Labels: documentation, tests

Add D&R prompt rearchitecture endpoint and builder
  apps/sse-gateway/README.md
  apps/sse-gateway/prompt-builder.mjs
  apps/sse-gateway/prompt-builder.test.mjs
  apps/sse-gateway/server.mjs
  apps/sse-gateway/server.test.mjs
Labels: documentation

Add D&R prompt rearchitecture endpoint and builder
  apps/sse-gateway/README.md
  apps/sse-gateway/prompt-builder.mjs
  apps/sse-gateway/prompt-builder.test.mjs
  apps/sse-gateway/server.mjs
  apps/sse-gateway/server.test.mjs
Labels: documentation

Restore testable runtime baseline
  .github/scripts/autonomous_git_workflow.py
  apps/sse-gateway/server.mjs
  examples/02_evolution_race.py
  package.json
  src/hyperai/core/haios_core.py
  src/hyperai/core/haios_runtime.py
Labels: examples, github

Restore testable runtime baseline
  .github/scripts/autonomous_git_workflow.py
  apps/sse-gateway/server.mjs
  examples/02_evolution_race.py
  package.json
  src/hyperai/core/haios_core.py
  src/hyperai/core/haios_runtime.py
Labels: examples, github

Enforce CI-to-runtime governance contracts
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-pr-review.yml
  .github/workflows/governance-gate.yml
  docs/operations/CI_RUNTIME_GOVERNANCE_AUDIT.md
  governance/choice_review.json
  governance/dr_review.json
  governance/runtime_topology.json
  governance/workflow_manifest.json
  src/hyperai/core/haios_core.py
  src/hyperai/core/haios_runtime.py
  tests/governance/test_governance_gate.py
  tools/governance/governance_gate.py
Labels: documentation, tests, github, ci-cd

Enforce CI-to-runtime governance contracts
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-pr-review.yml
  .github/workflows/governance-gate.yml
  docs/operations/CI_RUNTIME_GOVERNANCE_AUDIT.md
  governance/choice_review.json
  governance/dr_review.json
  governance/runtime_topology.json
  governance/workflow_manifest.json
  src/hyperai/core/haios_core.py
  src/hyperai/core/haios_runtime.py
  tests/governance/test_governance_gate.py
  tools/governance/governance_gate.py
Labels: documentation, tests, github, ci-cd

Add signed runtime reality attestations
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/runtime-attestation.yml
  .gitignore
  docs/operations/CI_RUNTIME_GOVERNANCE_AUDIT.md
  docs/operations/RUNTIME_EVIDENCE_ADAPTERS.md
  governance/choice_review.json
  governance/dr_review.json
  governance/runtime_adapters.json
  governance/runtime_attestation.schema.json
  governance/runtime_topology.json
  governance/workflow_manifest.json
  tests/governance/test_runtime_evidence.py
  tools/governance/governance_gate.py
  tools/governance/runtime_evidence.py
Labels: documentation, tests, github, ci-cd

Add signed runtime reality attestations
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/runtime-attestation.yml
  .gitignore
  docs/operations/CI_RUNTIME_GOVERNANCE_AUDIT.md
  docs/operations/RUNTIME_EVIDENCE_ADAPTERS.md
  governance/choice_review.json
  governance/dr_review.json
  governance/runtime_adapters.json
  governance/runtime_attestation.schema.json
  governance/runtime_topology.json
  governance/workflow_manifest.json
  tests/governance/test_runtime_evidence.py
  tools/governance/governance_gate.py
  tools/governance/runtime_evidence.py
Labels: documentation, tests, github, ci-cd

Add signed runtime reality attestations
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/autonomous_git_workflow.py
  .github/workflows/auto-pr-review.yml
  .github/workflows/governance-gate.yml
  .github/workflows/runtime-attestation.yml
  .gitignore
  apps/sse-gateway/server.mjs
  docs/operations/CI_RUNTIME_GOVERNANCE_AUDIT.md
  docs/operations/RUNTIME_EVIDENCE_ADAPTERS.md
  examples/02_evolution_race.py
  governance/choice_review.json
  governance/dr_review.json
  governance/runtime_adapters.json
  governance/runtime_attestation.schema.json
  governance/runtime_topology.json
  governance/workflow_manifest.json
  package.json
  src/hyperai/core/haios_core.py
  src/hyperai/core/haios_runtime.py
  tests/governance/test_governance_gate.py
  tests/governance/test_runtime_evidence.py
  tools/governance/governance_gate.py
  tools/governance/runtime_evidence.py
Labels: documentation, tests, examples, github, ci-cd

Add signed runtime reality attestations
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/autonomous_git_workflow.py
  .github/workflows/auto-pr-review.yml
  .github/workflows/governance-gate.yml
  .github/workflows/runtime-attestation.yml
  .gitignore
  apps/sse-gateway/server.mjs
  docs/operations/CI_RUNTIME_GOVERNANCE_AUDIT.md
  docs/operations/RUNTIME_EVIDENCE_ADAPTERS.md
  examples/02_evolution_race.py
  governance/choice_review.json
  governance/dr_review.json
  governance/runtime_adapters.json
  governance/runtime_attestation.schema.json
  governance/runtime_topology.json
  governance/workflow_manifest.json
  package.json
  src/hyperai/core/haios_core.py
  src/hyperai/core/haios_runtime.py
  tests/governance/test_governance_gate.py
  tests/governance/test_runtime_evidence.py
  tools/governance/governance_gate.py
  tools/governance/runtime_evidence.py
Labels: documentation, tests, examples, github, ci-cd

chore(mcp): add Postman MCP server stdio config and demo
  .vscode/mcp.json
  MCP_POSTMAN_DEMO.md
Labels: documentation

chore(mcp): add Postman MCP server stdio config and demo
  .vscode/mcp.json
  MCP_POSTMAN_DEMO.md
Labels: documentation

fix: consolidate DAIOF runtime activation
  MCP_POSTMAN_DEMO.md
Labels: documentation

fix: consolidate DAIOF runtime activation
  MCP_POSTMAN_DEMO.md
Labels: documentation

docs: rewrite Node 0 architecture mapping with runtime blueprint
  planning/logic-evolver-security-mapping.md
Labels: documentation, planning

docs: rewrite Node 0 architecture mapping with runtime blueprint
  planning/logic-evolver-security-mapping.md
Labels: documentation, planning

ci: make all 27 workflows self-contained (no external actions)
  .github/scripts/gh_bot.py
  .github/scripts/pypi_oidc_upload.sh
  .github/workflows/ai-agent-autonomous.yml
  .github/workflows/apo-health-check.yml
  .github/workflows/auto-dependency-updates.yml
  .github/workflows/auto-issue-management.yml
  .github/workflows/auto-pr-review.yml
  .github/workflows/autonomous-development.yml
  .github/workflows/autonomous-git-workflow.yml
  .github/workflows/autonomous-security-fix.yml
  .github/workflows/ci.yml
  .github/workflows/community-engagement.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/enhanced-issue-automation.yml
  .github/workflows/governance-gate.yml
  .github/workflows/greetings.yml
  .github/workflows/health-check.yml
  .github/workflows/labeler.yml
  .github/workflows/latex-build.yml
  .github/workflows/main.yml
  .github/workflows/multi-repo-orchestration.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/python-package.yml
  .github/workflows/realtime-tasks.yml
  .github/workflows/release.yml
  .github/workflows/runtime-attestation.yml
  .github/workflows/stale.yml
  .github/workflows/update-dashboard.yml
Labels: github, ci-cd

ci: make all 27 workflows self-contained (no external actions)
  .github/scripts/gh_bot.py
  .github/scripts/pypi_oidc_upload.sh
  .github/workflows/ai-agent-autonomous.yml
  .github/workflows/apo-health-check.yml
  .github/workflows/auto-dependency-updates.yml
  .github/workflows/auto-issue-management.yml
  .github/workflows/auto-pr-review.yml
  .github/workflows/autonomous-development.yml
  .github/workflows/autonomous-git-workflow.yml
  .github/workflows/autonomous-security-fix.yml
  .github/workflows/ci.yml
  .github/workflows/community-engagement.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/enhanced-issue-automation.yml
  .github/workflows/governance-gate.yml
  .github/workflows/greetings.yml
  .github/workflows/health-check.yml
  .github/workflows/labeler.yml
  .github/workflows/latex-build.yml
  .github/workflows/main.yml
  .github/workflows/multi-repo-orchestration.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/python-package.yml
  .github/workflows/realtime-tasks.yml
  .github/workflows/release.yml
  .github/workflows/runtime-attestation.yml
  .github/workflows/stale.yml
  .github/workflows/update-dashboard.yml
Labels: github, ci-cd
