Repository NguyenCuong1989/DAIOF-Framework, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, tests, examples, github, ci-cd, dependencies, content, research, community, planning

test(runtime): lock autonomous git CLI dispatch semantics
  tests/test_autonomous_git_workflow.py
Labels: tests

fix(runtime): restore full autonomous git runtime and align CLI contract
  .github/scripts/autonomous_git_workflow.py
Labels: github

fix(ci): make critical lint and test gates fail-closed
  .github/workflows/main.yml
Labels: github, ci-cd

fix(ci): block dependency PRs when tests fail
  .github/workflows/auto-dependency-updates.yml
Labels: github, ci-cd

fix(governance): make orchestration failure semantics fail-closed (#4)
  .github/workflows/multi-repo-orchestration.yml
Labels: github, ci-cd

fix(ci): make critical lint and test gates fail-closed (#7)
  .github/workflows/main.yml
Labels: github, ci-cd

fix(governance): make autonomous workflow outcomes evidence-based (#5)
  .github/workflows/ai-agent-autonomous.yml
  .github/workflows/autonomous-development.yml
  .github/workflows/autonomous-git-workflow.yml
  .github/workflows/realtime-tasks.yml
Labels: github, ci-cd

fix(runtime): align autonomous git CLI with workflow contract (#6)
  .github/scripts/autonomous_git_workflow.py
  tests/test_autonomous_git_workflow.py
Labels: tests, github

fix(ci): block dependency PRs when tests fail (#8)
  .github/workflows/auto-dependency-updates.yml
Labels: github, ci-cd

fix(governance): prevent dependency updater branch overwrite
  .github/workflows/auto-dependency-updates.yml
Labels: github, ci-cd

fix(governance): make security workflow receipts evidence-based
  .github/workflows/autonomous-security-fix.yml
Labels: github, ci-cd

fix(governance): prevent dependency updater branch overwrite (#9)
  .github/workflows/auto-dependency-updates.yml
Labels: github, ci-cd

fix(governance): make security workflow receipts evidence-based (#10)
  .github/workflows/autonomous-security-fix.yml
Labels: github, ci-cd

fix(ci): make Python matrix execute requested versions
  .github/workflows/ci.yml
Labels: github, ci-cd

fix(ci): make Python matrix execute requested versions (#11)
  .github/workflows/ci.yml
Labels: github, ci-cd

fix(docs): propagate documentation push failures
  .github/workflows/docs.yml
Labels: github, ci-cd

fix(docs): propagate documentation push failures (#12)
  .github/workflows/docs.yml
Labels: github, ci-cd

fix(health): remove unsupported APO status claims
  .github/workflows/apo-health-check.yml
Labels: github, ci-cd

fix(health): remove unsupported APO status claims (#13)
  .github/workflows/apo-health-check.yml
Labels: github, ci-cd

fix(security): bound autonomous security commit scope
  .github/workflows/autonomous-security-fix.yml
Labels: github, ci-cd

fix(security): restore workflow and bound commit scope
  .github/workflows/autonomous-security-fix.yml
Labels: github, ci-cd

fix(security): bound autonomous security commit scope (#14)
  .github/workflows/autonomous-security-fix.yml
Labels: github, ci-cd

fix(security): reduce community workflow permissions
  .github/workflows/community-engagement.yml
Labels: github, ci-cd

fix(security): reduce community workflow permissions (#15)
  .github/workflows/community-engagement.yml
Labels: github, ci-cd

fix(security): declare read-only health workflow permissions
  .github/workflows/apo-health-check.yml
Labels: github, ci-cd

fix(security): declare read-only health workflow permissions (#16)
  .github/workflows/apo-health-check.yml
Labels: github, ci-cd

fix(security): allow PyPI workflows to read repository contents
  .github/workflows/pypi-publish.yml
Labels: github, ci-cd

fix(security): allow PyPI workflows to read repository contents (#17)
  .github/workflows/pypi-publish.yml
Labels: github, ci-cd

fix(ci): make Python package matrix and permissions truthful
  .github/workflows/python-package.yml
Labels: github, ci-cd

fix(ci): make Python package matrix and permissions truthful (#18)
  .github/workflows/python-package.yml
Labels: github, ci-cd

fix(security): grant explicit read access for workflow checkout
  .github/workflows/stale.yml
Labels: github, ci-cd

fix(security): grant explicit read access for workflow checkout
  .github/workflows/greetings.yml
Labels: github, ci-cd

fix(security): grant explicit read access for workflow checkout (#19)
  .github/workflows/greetings.yml
  .github/workflows/stale.yml
Labels: github, ci-cd

fix(security): declare read-only build workflow permissions
  .github/workflows/latex-build.yml
Labels: github, ci-cd

fix(security): declare read-only build workflow permissions
  .github/workflows/apo-treasury-plugin.yml
Labels: github, ci-cd

fix(security): declare read-only build workflow permissions (#20)
  .github/workflows/apo-treasury-plugin.yml
  .github/workflows/latex-build.yml
Labels: github, ci-cd

chore(governance): add temporary manifest refresh runner
  .github/workflows/_governance-refresh.yml
Labels: github, ci-cd

chore(governance): bootstrap canonical manifest refresh
  .github/workflows/governance-gate.yml
Labels: github, ci-cd

fix(governance): refresh manifest before validation
  .github/workflows/governance-gate.yml
Labels: github, ci-cd

fix(runtime): require canonical governance evidence before mutation
  .github/scripts/autonomous_git_workflow.py
Labels: github

.github/labeler.yml:

# Auto-labeling configuration for pull requests
# Based on changed files

# Core framework changes
'core':
  - digital_ai_organism_framework.py

# Documentation
'documentation':
  - '**/*.md'
  - 'docs/**/*'
  - 'README.md'
  - 'CONTRIBUTING.md'

# Tests
'tests':
  - 'tests/**/*'
  - '**/test_*.py'
  - '**/*_test.py'

# Examples & Demos
'examples':
  - 'demo.py'
  - 'examples/**/*'

# GitHub specific
'github':
  - '.github/**/*'

# CI/CD
'ci-cd':
  - '.github/workflows/**/*'

# Dependencies
'dependencies':
  - 'requirements.txt'
  - 'setup.py'
  - 'pyproject.toml'

# Blog & Distribution
'content':
  - 'blog/**/*'
  - 'distribution/**/*'
  - 'video/**/*'

# Research
'research':
  - 'research/**/*'

# Community
'community':
  - 'community/**/*'
  - 'CODE_OF_CONDUCT.md'
  - '.github/SUPPORT.md'

# Planning
'planning':
  - 'planning/**/*'
