Repository NguyenCuong1989/DAIOF-Framework, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, tests, examples, github, ci-cd, dependencies, content, research, community, planning

refactor(wc-dm): link root-cause law into execution flow
  research/wc-dm/LAW_UNIVERSAL_ROOT_CAUSE_INFERENCE.md
Labels: documentation, research

refactor(wc-dm): link domain search back to resume authority
  research/wc-dm/04_domain_search_matrix.md
Labels: documentation, research

refactor(wc-dm): link execution record back to checkpoint
  research/wc-dm/05_execution_record.md
Labels: documentation, research

refactor(wc-dm): link candidate register into discovery flow
  research/wc-dm/07_domain_candidate_register.md
Labels: documentation, research

refactor(wc-dm): link G6 audit into canonical history flow
  research/wc-dm/10_G6_external_source_coupling_audit.md
Labels: documentation, research

refactor(wc-dm): complete governing-law navigation chain
  research/wc-dm/00_TODO_RESUME.md
Labels: documentation, research

refactor(wc-dm): link drift law to manifest gate
  research/wc-dm/LAW-DRIFT-PREVENTION.md
Labels: documentation, research

refactor(wc-dm): link LLM containment law into flow
  research/wc-dm/LAW-LLM-EPISTEMIC-CONTAINMENT.md
Labels: documentation, research

refactor(wc-dm): link AXControl artifact law into inference flow
  research/wc-dm/LAW-AXCONTROL-CODEGEN-CONTRACT.md
Labels: documentation, research

refactor(wc-dm): make manifest the complete authority graph
  research/wc-dm/MANIFEST.md
Labels: documentation, research

refactor(wc-dm): link round1 history into discovery lineage
  research/wc-dm/06_domain_discovery_round1.md
Labels: documentation, research

refactor(wc-dm): link round2 history to G6 audit
  research/wc-dm/08_domain_discovery_round2.md
Labels: documentation, research

refactor(wc-dm): complete production document flow index
  research/wc-dm/README.md
Labels: documentation, research

feat(wc-dm): enforce closed-loop todo resume flow
  research/wc-dm/00_TODO_RESUME.md
Labels: documentation, research

feat(wc-dm): formalize closed-loop production cycle
  research/wc-dm/MANIFEST.md
Labels: documentation, research

network: add account-wide repository registry
  docs/REPOSITORY_NETWORK_V1.json
Labels: documentation

network: document account-wide repository topology
  docs/REPOSITORY_NETWORK_V1.md
Labels: documentation

network: record observed cross-repository evidence edges
  docs/REPOSITORY_NETWORK_V1.json
Labels: documentation

network: record explicit cross-repository references
  docs/REPOSITORY_NETWORK_V1.json
Labels: documentation

docs: record repository network evidence edges
  docs/REPOSITORY_NETWORK_V1.md
Labels: documentation

network: record submodule and repository reference evidence
  docs/REPOSITORY_NETWORK_V1.json
Labels: documentation

docs: record verified repository edges
  docs/REPOSITORY_NETWORK_V1.md
Labels: documentation

network: add workspace and identity reference evidence
  docs/REPOSITORY_NETWORK_V1.json
Labels: documentation

feat: add observed MCP skill-tool chain registry
  docs/SKILL_TOOL_CHAIN_V1.json
Labels: documentation

docs: add skill-tool chain architecture
  docs/SKILL_TOOL_CHAIN_V1.md
Labels: documentation

feat: add runtime skill tool graph
  docs/RUNTIME_SKILL_TOOL_GRAPH_V1.json
Labels: documentation

Expand skill-tool chain with interaction memory
  docs/SKILL_TOOL_CHAIN_V1.json
Labels: documentation

Document interaction memory skill chain
  docs/SKILL_TOOL_CHAIN_V1.md
Labels: documentation

🧩 Extend runtime skill-tool graph with interaction memory
  docs/RUNTIME_SKILL_TOOL_GRAPH_V1.json
Labels: documentation

🔎 Preserve UNKNOWN for unobserved client invocations
  docs/RUNTIME_SKILL_TOOL_GRAPH_V1.json
Labels: documentation

🧩 Add observed repository skill catalog
  docs/SKILL_CATALOG_V1.json
Labels: documentation

🧩 Document observed repository skill catalog
  docs/SKILL_CATALOG_V1.md
Labels: documentation

fix(governance): make orchestration failures fail-closed
  .github/workflows/multi-repo-orchestration.yml
Labels: github, ci-cd

fix(governance): align orchestration receipts with execution outcome
  .github/workflows/multi-repo-orchestration.yml
Labels: github, ci-cd

fix(governance): close remaining orchestration status claims
  .github/workflows/multi-repo-orchestration.yml
Labels: github, ci-cd

fix(governance): make git workflow outcomes evidence-based
  .github/workflows/autonomous-git-workflow.yml
Labels: github, ci-cd

fix(governance): gate agent receipts and commits on execution outcome
  .github/workflows/ai-agent-autonomous.yml
Labels: github, ci-cd

fix(governance): propagate task generator failures
  .github/workflows/realtime-tasks.yml
Labels: github, ci-cd

fix(governance): make development receipts evidence-based
  .github/workflows/autonomous-development.yml
Labels: github, ci-cd

fix(runtime): align autonomous git CLI with workflow operations
  .github/scripts/autonomous_git_workflow.py
Labels: github

.github/labeler.yml:

# Auto-labeling configuration for pull requests
# Based on changed files

# Core framework changes
'core':
  - digital_ai_organism_framework.py

# Documentation
'documentation':
  - '**/*.md'
  - 'docs/**/*'
  - 'README.md'
  - 'CONTRIBUTING.md'

# Tests
'tests':
  - 'tests/**/*'
  - '**/test_*.py'
  - '**/*_test.py'

# Examples & Demos
'examples':
  - 'demo.py'
  - 'examples/**/*'

# GitHub specific
'github':
  - '.github/**/*'

# CI/CD
'ci-cd':
  - '.github/workflows/**/*'

# Dependencies
'dependencies':
  - 'requirements.txt'
  - 'setup.py'
  - 'pyproject.toml'

# Blog & Distribution
'content':
  - 'blog/**/*'
  - 'distribution/**/*'
  - 'video/**/*'

# Research
'research':
  - 'research/**/*'

# Community
'community':
  - 'community/**/*'
  - 'CODE_OF_CONDUCT.md'
  - '.github/SUPPORT.md'

# Planning
'planning':
  - 'planning/**/*'
