Repository NguyenCuong1989/DAIOF-Framework, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, tests, examples, github, ci-cd, dependencies, content, research, community, planning

test(runtime): enforce governance evidence before mutation
  tests/test_autonomous_git_workflow.py
Labels: tests

fix(runtime): require canonical governance evidence before mutation (#22)
  .github/scripts/autonomous_git_workflow.py
  tests/test_autonomous_git_workflow.py
Labels: tests, github

fix(security): make audit execution outcomes truthful
  .github/workflows/autonomous-security-fix.yml
Labels: github, ci-cd

fix(security): require successful PR creation
  .github/workflows/autonomous-security-fix.yml
Labels: github, ci-cd

fix(security): make audit execution outcomes truthful (#23)
  .github/workflows/autonomous-security-fix.yml
Labels: github, ci-cd

chore(governance): add one-shot main manifest bootstrap
  .github/workflows/_governance-main-bootstrap.yml
Labels: github, ci-cd

chore(governance): one-shot main manifest bootstrap (#24)
  .github/workflows/_governance-main-bootstrap.yml
Labels: github, ci-cd

fix(runtime): push autonomous commits to an explicit branch
  .github/scripts/autonomous_git_workflow.py
Labels: github

test(runtime): lock explicit autonomous push targets
  tests/test_autonomous_git_workflow.py
Labels: tests

test(runtime): correct detached-branch push contract
  tests/test_autonomous_git_workflow.py
Labels: tests

fix(security): remove unused pull request write permission
  .github/workflows/autonomous-git-workflow.yml
Labels: github, ci-cd

fix(runtime): target autonomous pushes explicitly (#25)
  .github/scripts/autonomous_git_workflow.py
  .github/workflows/autonomous-git-workflow.yml
  tests/test_autonomous_git_workflow.py
Labels: tests, github, ci-cd

fix(governance): bound autonomous workflow commit scope
  .github/workflows/autonomous-git-workflow.yml
Labels: github, ci-cd

fix(governance): use explicit branch ref for wrapper push
  .github/workflows/autonomous-git-workflow.yml
Labels: github, ci-cd

fix(governance): bound autonomous workflow mutation scope (#26)
  .github/workflows/autonomous-git-workflow.yml
Labels: github, ci-cd

chore(governance): remove temporary manifest bootstrap workflow
  .github/workflows/_governance-main-bootstrap.yml
Labels: github, ci-cd

chore(governance): remove temporary manifest bootstrap workflow (#27)
  .github/workflows/_governance-main-bootstrap.yml
Labels: github, ci-cd

fix(runtime): regenerate canonical governance evidence before mutation
  .github/scripts/autonomous_git_workflow.py
Labels: github

test(runtime): align governance gate test with canonical refresh
  tests/test_autonomous_git_workflow.py
Labels: tests

fix(runtime): regenerate canonical governance evidence before mutation (#28)
  .github/scripts/autonomous_git_workflow.py
  tests/test_autonomous_git_workflow.py
Labels: tests, github

fix(security): declare workflow repository permissions
  .github/workflows/main.yml
Labels: github, ci-cd

fix(security): declare workflow repository permissions
  .github/workflows/update-dashboard.yml
Labels: github, ci-cd

fix(security): declare workflow repository permissions (#29)
  .github/workflows/main.yml
  .github/workflows/update-dashboard.yml
Labels: github, ci-cd

chore(autonomy): add autonomous repository node contract
  AUTONOMOUS_NODE_CONTRACT.yaml
Labels: none

chore(autonomy): establish 72-repo 50-task rollout registry
  AUTONOMOUS_REPOSITORY_NETWORK_50_TASKS.md
Labels: documentation

fix(ci): repair verified runtime and push paths
  .github/workflows/ci.yml
Labels: github, ci-cd

fix(ci): repair verified runtime and push paths
  .github/workflows/main.yml
Labels: github, ci-cd

fix(ci): repair verified runtime and push paths
  .github/workflows/python-package.yml
Labels: github, ci-cd

fix(ci): repair verified runtime and push paths
  .github/workflows/apo-health-check.yml
Labels: github, ci-cd

fix(ci): repair verified runtime and push paths
  .github/workflows/docs.yml
Labels: github, ci-cd

fix(ci): repair verified runtime and push paths
  .github/workflows/update-dashboard.yml
Labels: github, ci-cd

fix(governance): regenerate canonical workflow evidence before validation
  .github/workflows/governance-gate.yml
Labels: github, ci-cd

fix(governance): refresh evidence before PR risk review
  .github/workflows/auto-pr-review.yml
Labels: github, ci-cd

test(governance): assert canonical gate command basename safely
  tests/test_autonomous_git_workflow.py
Labels: tests

ci(governance): regenerate canonical evidence before tests
  .github/workflows/ci.yml
Labels: github, ci-cd

ci(governance): regenerate canonical evidence before tests
  .github/workflows/main.yml
Labels: github, ci-cd

ci(governance): regenerate canonical evidence before tests
  .github/workflows/python-package.yml
Labels: github, ci-cd

fix(ci): preserve src import path during test execution
  .github/workflows/ci.yml
Labels: github, ci-cd

📊 Auto-update metrics dashboard - 2026-09-20 03:30
  DASHBOARD.md
  NETWORK_REPORT.md
  metrics/latest.json
Labels: documentation

.github/labeler.yml:

# Auto-labeling configuration for pull requests
# Based on changed files

# Core framework changes
'core':
  - digital_ai_organism_framework.py

# Documentation
'documentation':
  - '**/*.md'
  - 'docs/**/*'
  - 'README.md'
  - 'CONTRIBUTING.md'

# Tests
'tests':
  - 'tests/**/*'
  - '**/test_*.py'
  - '**/*_test.py'

# Examples & Demos
'examples':
  - 'demo.py'
  - 'examples/**/*'

# GitHub specific
'github':
  - '.github/**/*'

# CI/CD
'ci-cd':
  - '.github/workflows/**/*'

# Dependencies
'dependencies':
  - 'requirements.txt'
  - 'setup.py'
  - 'pyproject.toml'

# Blog & Distribution
'content':
  - 'blog/**/*'
  - 'distribution/**/*'
  - 'video/**/*'

# Research
'research':
  - 'research/**/*'

# Community
'community':
  - 'community/**/*'
  - 'CODE_OF_CONDUCT.md'
  - '.github/SUPPORT.md'

# Planning
'planning':
  - 'planning/**/*'
