Repository NguyenCuong1989/DAIOF-Framework, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, tests, examples, github, ci-cd, dependencies, content, research, community, planning

fix(ci): restore P1 workflow health without Copilot dependency
  .github/workflows/ci.yml
  .github/workflows/latex-build.yml
  .github/workflows/main.yml
  .github/workflows/python-package.yml
  governance/workflow_manifest.json
Labels: github, ci-cd

fix(ci): restore P1 workflow health without Copilot dependency
  .github/workflows/ci.yml
  .github/workflows/latex-build.yml
  .github/workflows/main.yml
  .github/workflows/python-package.yml
  governance/workflow_manifest.json
Labels: github, ci-cd

fix(ci): resolve PR runner workflow failures
  .github/workflows/auto-pr-review.yml
  .github/workflows/ci.yml
  .github/workflows/governance-gate.yml
  .github/workflows/latex-build.yml
  .github/workflows/python-package.yml
  governance/workflow_manifest.json
Labels: github, ci-cd

fix(ci): resolve PR runner workflow failures
  .github/workflows/auto-pr-review.yml
  .github/workflows/ci.yml
  .github/workflows/governance-gate.yml
  .github/workflows/latex-build.yml
  .github/workflows/python-package.yml
  governance/workflow_manifest.json
Labels: github, ci-cd

fix(ci): close PR-head governance and runtime checks
  .github/scripts/autonomous_git_workflow.py
  .github/workflows/auto-pr-review.yml
  .github/workflows/ci.yml
  .github/workflows/governance-gate.yml
  .github/workflows/python-package.yml
  governance/workflow_manifest.json
Labels: github, ci-cd

fix(ci): close PR-head governance and runtime checks
  .github/scripts/autonomous_git_workflow.py
  .github/workflows/auto-pr-review.yml
  .github/workflows/ci.yml
  .github/workflows/governance-gate.yml
  .github/workflows/python-package.yml
  governance/workflow_manifest.json
Labels: github, ci-cd

commit merge
  .consciousness/.calva/output-window/.calva/output-window/output.calva-repl
  .consciousness/.calva/output-window/.cpcache/77BF138CA0E8EC880345AF7D1288CA61.basis
  .consciousness/.calva/output-window/.cpcache/77BF138CA0E8EC880345AF7D1288CA61.cp
  .consciousness/.calva/output-window/.cpcache/B72B1BB513B068313FF2D5A89EF03F19.basis
  .consciousness/.calva/output-window/.cpcache/B72B1BB513B068313FF2D5A89EF03F19.cp
  .consciousness/.calva/output-window/.gitignore
  .consciousness/.calva/output-window/.snapshots/config.json
  .consciousness/.calva/output-window/.snapshots/readme.md
  .consciousness/.calva/output-window/.snapshots/sponsors.md
  .consciousness/.calva/output-window/README.md
  .consciousness/.calva/output-window/deps.edn
  .consciousness/.calva/output-window/output.calva-repl
  .consciousness/.calva/output-window/public/index.html
  .consciousness/.calva/output-window/public/main.css
  .consciousness/.calva/output-window/shadow-cljs.edn
  .consciousness/.calva/output-window/src/dev/repl.clj
  .consciousness/.calva/output-window/src/main/acme/frontend/app.cljs
  .consciousness/.calva/output-window/src/main/acme/server.clj
  .consciousness/.calva/repl.calva-repl
  .consciousness/.cpcache/77BF138CA0E8EC880345AF7D1288CA61.basis
  .consciousness/.cpcache/77BF138CA0E8EC880345AF7D1288CA61.cp
  .consciousness/.cpcache/B72B1BB513B068313FF2D5A89EF03F19.basis
  .consciousness/.cpcache/B72B1BB513B068313FF2D5A89EF03F19.cp
  .early.coverage/python/coverage.json
  .yoyo/db/snapshot_embeddings.sqlitejs
Labels: documentation

commit merge
  .consciousness/.calva/output-window/.calva/output-window/output.calva-repl
  .consciousness/.calva/output-window/.cpcache/77BF138CA0E8EC880345AF7D1288CA61.basis
  .consciousness/.calva/output-window/.cpcache/77BF138CA0E8EC880345AF7D1288CA61.cp
  .consciousness/.calva/output-window/.cpcache/B72B1BB513B068313FF2D5A89EF03F19.basis
  .consciousness/.calva/output-window/.cpcache/B72B1BB513B068313FF2D5A89EF03F19.cp
  .consciousness/.calva/output-window/.gitignore
  .consciousness/.calva/output-window/.snapshots/config.json
  .consciousness/.calva/output-window/.snapshots/readme.md
  .consciousness/.calva/output-window/.snapshots/sponsors.md
  .consciousness/.calva/output-window/README.md
  .consciousness/.calva/output-window/deps.edn
  .consciousness/.calva/output-window/output.calva-repl
  .consciousness/.calva/output-window/public/index.html
  .consciousness/.calva/output-window/public/main.css
  .consciousness/.calva/output-window/shadow-cljs.edn
  .consciousness/.calva/output-window/src/dev/repl.clj
  .consciousness/.calva/output-window/src/main/acme/frontend/app.cljs
  .consciousness/.calva/output-window/src/main/acme/server.clj
  .consciousness/.calva/repl.calva-repl
  .consciousness/.cpcache/77BF138CA0E8EC880345AF7D1288CA61.basis
  .consciousness/.cpcache/77BF138CA0E8EC880345AF7D1288CA61.cp
  .consciousness/.cpcache/B72B1BB513B068313FF2D5A89EF03F19.basis
  .consciousness/.cpcache/B72B1BB513B068313FF2D5A89EF03F19.cp
  .early.coverage/python/coverage.json
  .yoyo/db/snapshot_embeddings.sqlitejs
Labels: documentation

Add local CI/CD runtime automation
  .github/scripts/autonomous_git_workflow.py
  .github/workflows/ci.yml
  .github/workflows/latex-build.yml
  .github/workflows/python-package.yml
  docs/operations/local_cicd_runbook.md
  governance/workflow_manifest.json
  package.json
  scripts/local_cicd.py
  test_realtime.py
  tests/runtime/test_runtime_tools.py
  tests/test_autonomous_git_workflow.py
  tools/__init__.py
  tools/governance/__init__.py
  tools/governance/governance_gate.py
  tools/runtime/runtime_health_daemon.py
Labels: documentation, tests, github, ci-cd

Add local CI/CD runtime automation
  .github/scripts/autonomous_git_workflow.py
  .github/workflows/ci.yml
  .github/workflows/latex-build.yml
  .github/workflows/python-package.yml
  docs/operations/local_cicd_runbook.md
  governance/workflow_manifest.json
  package.json
  scripts/local_cicd.py
  test_realtime.py
  tests/runtime/test_runtime_tools.py
  tests/test_autonomous_git_workflow.py
  tools/__init__.py
  tools/governance/__init__.py
  tools/governance/governance_gate.py
  tools/runtime/runtime_health_daemon.py
Labels: documentation, tests, github, ci-cd

fix(ci): close post-merge governance and ecosystem validation
  .circleci/config.yml
  .github/workflows/ci.yml
  docs/operations/POST_MERGE_CI_CLOSURE.md
  governance/workflow_manifest.json
Labels: documentation, github, ci-cd

governance: standardize Copilot-home ecosystem topology
  docs/operations/github_ecosystem_standardization.md
  docs/product/github_control_plane_operator_experience.md
  governance/github_ecosystem_manifest.json
  governance/github_ecosystem_manifest.schema.json
  scripts/validate_github_ecosystem_manifest.py
  tests/governance/test_github_ecosystem_manifest.py
Labels: documentation, tests

feat: add Runway Model Router adapter
  src/hyperai/components/runway_model_router.py
Labels: none

fix: align Runway task polling with API guidance
  src/hyperai/components/runway_model_router.py
Labels: none

feat: export Runway Model Router component
  src/hyperai/components/__init__.py
Labels: none

feat: add Runway router environment configuration
  .env.example
Labels: none

test: cover Runway router routing and task polling
  tests/test_runway_model_router.py
Labels: tests

feat: define APΩ Treasury plugin product contract
  docs/APO_TREASURY_PLUGIN_PRODUCT_SPEC.md
Labels: documentation

feat: add APΩ Treasury runtime contract
  docs/APO_TREASURY_PLUGIN_RUNTIME_CONTRACT.md
Labels: documentation

test: add APΩ Treasury acceptance matrix
  docs/APO_TREASURY_PLUGIN_ACCEPTANCE_MATRIX.md
Labels: documentation

feat: scaffold APΩ Treasury plugin runtime
  apps/apo-treasury-plugin/package.json
Labels: none

build: add strict TypeScript configuration
  apps/apo-treasury-plugin/tsconfig.json
Labels: none

feat: implement deterministic APΩ Treasury decision kernel
  apps/apo-treasury-plugin/src/domain.ts
Labels: none

test: add APΩ Treasury kernel safety tests
  apps/apo-treasury-plugin/test/domain.test.ts
Labels: none

fix: align strict TypeScript root with tests
  apps/apo-treasury-plugin/tsconfig.json
Labels: none

ci: add APΩ Treasury plugin verification workflow
  .github/workflows/apo-treasury-plugin.yml
Labels: github, ci-cd

fix: make plugin CI install without lockfile
  .github/workflows/apo-treasury-plugin.yml
Labels: github, ci-cd

fix: enforce exit path for every execution-capable decision
  apps/apo-treasury-plugin/src/domain.ts
Labels: none

docs: define APΩ connector agent network runtime
  docs/APO_CONNECTOR_AGENT_NETWORK_RUNTIME.md
Labels: documentation

feat: add connector capability seed catalog
  docs/apo_connector_capability_seed_catalog.json
Labels: documentation

canon: consolidate connector capability map into single APΩ master architecture
  docs/APO_CONNECTOR_CAPABILITY_MAP_CANON.md
Labels: documentation

feat: add APΩ agent network guarded runtime
  apps/apo-agent-network/runtime.mjs
Labels: none

test: verify APΩ agent network invariants and gates
  apps/apo-agent-network/runtime.test.mjs
Labels: none

test: include APΩ runtime in existing CI test glob
  apps/sse-gateway/apo-agent-network.test.mjs
Labels: none

ci: execute APΩ agent network node tests
  .github/workflows/apo-agent-network-node.yml
Labels: github, ci-cd

ci: avoid workflow manifest drift; rely on existing test workflow
  .github/workflows/apo-agent-network-node.yml
Labels: github, ci-cd

canon: add APΩ Chưởng Ấn Root Authority canon
  docs/APΩ_CANON_CHUONG_AN.md
Labels: documentation

feat: add executable APΩ root authority specification
  root-authority.spec.ts
Labels: none

test: verify APΩ root authority gates and reconstitution
  tests/root-authority.spec.test.ts
Labels: tests

canon: add APΩ system doctrine
  docs/APO_SYSTEM_DOCTRINE.md
Labels: documentation

.github/labeler.yml:

# Auto-labeling configuration for pull requests
# Based on changed files

# Core framework changes
'core':
  - digital_ai_organism_framework.py

# Documentation
'documentation':
  - '**/*.md'
  - 'docs/**/*'
  - 'README.md'
  - 'CONTRIBUTING.md'

# Tests
'tests':
  - 'tests/**/*'
  - '**/test_*.py'
  - '**/*_test.py'

# Examples & Demos
'examples':
  - 'demo.py'
  - 'examples/**/*'

# GitHub specific
'github':
  - '.github/**/*'

# CI/CD
'ci-cd':
  - '.github/workflows/**/*'

# Dependencies
'dependencies':
  - 'requirements.txt'
  - 'setup.py'
  - 'pyproject.toml'

# Blog & Distribution
'content':
  - 'blog/**/*'
  - 'distribution/**/*'
  - 'video/**/*'

# Research
'research':
  - 'research/**/*'

# Community
'community':
  - 'community/**/*'
  - 'CODE_OF_CONDUCT.md'
  - '.github/SUPPORT.md'

# Planning
'planning':
  - 'planning/**/*'
