Repository NguyenCuong1989/DAIOF-Framework, changes with the labels that .github/labeler.yml gives for each.
All labels: core, documentation, tests, examples, github, ci-cd, dependencies, content, research, community, planning

.github/labeler.yml:

# Auto-labeling configuration for pull requests
# Based on changed files

# Core framework changes
'core':
  - digital_ai_organism_framework.py

# Documentation
'documentation':
  - '**/*.md'
  - 'docs/**/*'
  - 'README.md'
  - 'CONTRIBUTING.md'

# Tests
'tests':
  - 'tests/**/*'
  - '**/test_*.py'
  - '**/*_test.py'

# Examples & Demos
'examples':
  - 'demo.py'
  - 'examples/**/*'

# GitHub specific
'github':
  - '.github/**/*'

# CI/CD
'ci-cd':
  - '.github/workflows/**/*'

# Dependencies
'dependencies':
  - 'requirements.txt'
  - 'setup.py'
  - 'pyproject.toml'

# Blog & Distribution
'content':
  - 'blog/**/*'
  - 'distribution/**/*'
  - 'video/**/*'

# Research
'research':
  - 'research/**/*'

# Community
'community':
  - 'community/**/*'
  - 'CODE_OF_CONDUCT.md'
  - '.github/SUPPORT.md'

# Planning
'planning':
  - 'planning/**/*'

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  .github/scripts/realtime_task_generator.py
Labels: github

🤖 Auto-commit: Real-time updates
  .github/scripts/realtime_task_generator.py
Labels: github

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

🤖 Auto-commit: Real-time updates
  logs/tasks_20260227.json
Labels: none

docs: expand repo report with self-hosted operation plan
  BAO_CAO_TONG_QUAN_REPO.md
Labels: documentation

docs: expand repo report with self-hosted operation plan
  BAO_CAO_TONG_QUAN_REPO.md
Labels: documentation

docs: add LIN-1 D&R metrics analysis report
  CHANGELOG.md
  docs/operations/LIN-1_DR_PROTOCOL_ANALYSIS.md
Labels: documentation

docs: add LIN-1 D&R metrics analysis report
  CHANGELOG.md
  docs/operations/LIN-1_DR_PROTOCOL_ANALYSIS.md
Labels: documentation

Revert "Codex-generated pull request"
  CHANGELOG.md
  docs/operations/LIN-1_DR_PROTOCOL_ANALYSIS.md
Labels: documentation

deploy: APO Health Check workflow + ecosystem config
  .github/workflows/apo-health-check.yml
  config/apo-ecosystem.json
  scripts/polling/health-check.sh
Labels: github, ci-cd

deploy: APO Health Check workflow + ecosystem config
  .github/workflows/apo-health-check.yml
  config/apo-ecosystem.json
  scripts/polling/health-check.sh
Labels: github, ci-cd
